<nav class="navbar-dark bg-primary bg-gradient text-emphasis-primary">
    <a class="navbar-brand" href="/">
        <img src="/img/guia.png">
    </a>
</nav>



<!--<img src="/img/guia.png">    bg-body-tertiary-->


<!--navbar navbar-expand-lg bg-body-tertiary-->
<!--navbar navbar-dark bg-success-->
<!--<img src="/img/guia.png">    bg-body-tertiary   bg-primary-subtle text-emphasis-primary-->